function deletedatabase(st,db){
    if(st==0){
        var strheader = '<button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span><span class="sr-only">{{ langmod.SSLCLOSE }}</span></button><h4 class="modal-title">{{langmod.DBWARNING}}</h4><small class="font-bold">{{langmod.DBDELEBASEDATE}}</small>';
        var strbody = '<p class="text-center">'+db+'</p>';
        var strfooter = '<button type="button" class="btn btn-white" data-dismiss="modal">{{langmod.DBNO}}</button><button type="button" class="btn btn-primary" id="btnyesdel" onclick="return deletedatabase(1,\''+db+'\')">{{langmod.DBYES}}</button>';

        $("#deletemodal .modal-header").html(strheader);
        $("#deletemodal .modal-body").html(strbody);
        $("#deletemodal .modal-footer").html(strfooter);
        $("#deletemodal").modal('toggle');
        return false;
    }
    if(st==1){
        $("#btnyesdel").addClass('disabled');
        $("#btnyesdel").attr('disabled',true);
        btnporcess('off','btnyesdel','{{ langmod.DBLABEL4 }}');
        $.ajaxSetup({ headers: { 'csrftoken' : '{{ tokenajax }}' } });
        $.ajax({
            type: "POST",
            url: "./{{users}}/index.php?module=mysql_manager&acc=deletedatabase",
            data:"database="+db,
            complete: function(datos){
                noti_bubble('{{langmod.DBSUCCT}}','{{langmod.DMUMYQLDEL}}','success',false,false,'3000',true);
                refrestable();
                refrespanelnew('mysql_manager');
                $("#deletemodal").modal('hide');
                $("#btnyesdel").removeClass('disabled');
                $("#btnyesdel").attr('disabled',false);
                return false;
            }
        });
        return false;
    }
    return false;
}
function btnchangpassusermysql(){
    btnporcess('off','btn-changpassusermysql','{{ langmod.DBLABEL4 }}');
    if(($("#newpass2user").val()=='') || ($("#newpass2user2").val()=='')){
        noti_bubble('{{langmod.DBERROR4}}','{{langmod.DBERROR}}','error',false,false,'3000',true);
        btnporcess('on','btn-changpassusermysql','{{langene.MDBTN_SAVE}}');
        return false;
    }else{
        if($("#newpass2user").val()!=$("#newpass2user2").val()){
            noti_bubble('{{langmod.DBERROR3}}','{{langmod.DBERROR}}','error',false,false,'3000',true);
            btnporcess('on','btn-changpassusermysql','{{langene.MDBTN_SAVE}}');
            return false;
        }else{
            var merge=$("#mysqluserpass").val();
            $.ajax({
                type: "POST",
                url: "./{{users}}/index.php?module=mail_autoreply&acc=changepassuserdb",
                data:"dates="+merge+"&passuser="+Base64.encode($("#newpass2user").val()),
                complete: function(datos){
                    if(datos.responseText==1){
                        $("#modal-changepassusermysql").modal('hide');
                        noti_bubble('{{langmod.DBCHANGEPASSEXIST}}','{{langmod.DBSUCCT}}','success',false,false,'3000',true);
                        btnporcess('on','btn-changpassusermysql','{{langene.MDBTN_SAVE}}');
                    }else{
                        noti_bubble('{{langmod.DBERROR2}}','{{langmod.DBERROR}}','error',false,false,'3000',true);
                        btnporcess('on','btn-changpassusermysql','{{langene.MDBTN_SAVE}}');
                    }
                    return false;
                }
            });
            return false;
        }
    }
    return false;
}
function deleteuserdb(st, db,user,host){
    if(st==0){
        var strheader = '<button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span><span class="sr-only">{{ langmod.SSLCLOSE }}</span></button><h4 class="modal-title">{{langmod.DBWARNING}}</h4><small class="font-bold">{{langmod.DBDELETEUSER}}</small>';
        var strbody = '<p class="text-center">'+user+' '+host+'</p>';
        var strfooter = '<button type="button" class="btn btn-white" data-dismiss="modal">{{langmod.DBNO}}</button><button type="button" class="btn btn-primary" id="btnyesdel" onclick="return deleteuserdb(1,\''+db+'\',\''+user+'\',\''+host+'\')">{{langmod.DBYES}}</button>';
        $("#deletemodal .modal-header").html(strheader);
        $("#deletemodal .modal-body").html(strbody);
        $("#deletemodal .modal-footer").html(strfooter);
        $("#deletemodal").modal('toggle');
        return false;
    }
    if(st==1){
        $("#alerdelete").hide('blind');
        $("#alerdelete").html('');
        btnporcess('off','btnyesdel','{{ langmod.DBLABEL4 }}');
        $.ajaxSetup({ headers: { 'csrftoken' : '{{ tokenajax }}' } });
        $.ajax({
            type: "POST",
            url: "./{{users}}/index.php?module=mysql_manager&acc=deleteuserdb",
            data:"user="+user+"&host="+host,
            complete: function(datos){
                refrestable();
                btnporcess('on','btnyesdel','{{ langmod.DBYES }}');
                $("#deletemodal").modal('hide');
                noti_bubble('{{langmod.DBSUCCT}}','{{langmod.DMUSSQLDEL}}','success',false,false,'3000',true);
                return false;
            }
        });
        return false;
    }
    return false;
}
function refrestable(user){
    $.ajaxSetup({ headers: { 'csrftoken' : '{{ tokenajax }}' } });
    $.ajax({
        type: "POST",
        url: "./{{users}}/index.php?module=mysql_manager&acc=refrestable",
        complete: function(datos){
            var str =datos.responseText;
            var trozo=str.split("|||");
            var tables=trozo[0];
            var tbusers=trozo[1];
            $('.dataTables-example').DataTable().destroy();
            $("#trtable").html(tables);
            $("#trsuser").html(tbusers);
            $('.dataTables-example').DataTable();
        }
    });
}
function optimizermysql(db){
    $("#modal-pleasewait").modal('toggle');
    $.ajax({
        type: "POST",
        url: "./{{users}}/index.php?module=mysql_manager&acc=optimizerdb",
        data: "db=" + db,
        complete: function (datos) {
            if(datos.responseText==''){
                $("#modal-pleasewait").modal('hide');
                noti_bubble('{{langmod.DBOPTIOK}}','{{langmod.EMSUCCT}}','success',false,false,'3000',true);
            }else{
                $("#modal-pleasewait").modal('hide');
                noti_bubble('{{langmod.DBERROR}}','{{langmod.DBERROR2}}','error',false,false,'3000',true);
            }
        }
    });
}
function checkmysql(db){
    $("#modal-pleasewait").modal('toggle');
    $.ajax({
        type: "POST",
        url: "./{{users}}/index.php?module=mysql_manager&acc=checkmysql",
        data: "db=" + db,
        complete: function (datos) {
            if(datos.responseText==''){
                $("#modal-pleasewait").modal('hide');
                noti_bubble('{{langmod.DBOPTIOK}}','{{langmod.EMSUCCT}}','success',false,false,'3000',true);
            }else{
                $("#modal-pleasewait").modal('hide');
                noti_bubble('{{langmod.DBERROR2}}','{{langmod.DBERROR}}','error',false,false,'3000',true);
            }
        }
    });
}
function repairmysql(db){
    $("#modal-pleasewait").modal('toggle');
    $.ajax({
        type: "POST",
        url: "./{{users}}/index.php?module=mysql_manager&acc=repairmysql",
        data: "db=" + db,
        complete: function (datos) {
            if(datos.responseText==''){
                $("#modal-pleasewait").modal('hide');
                noti_bubble('{{langmod.DBREPAIROK}}','{{langmod.EMSUCCT}}','success',false,false,'3000',true);
            }else{
                $("#modal-pleasewait").modal('hide');
                noti_bubble('{{langmod.DBERROR2}}','{{langmod.DBERROR}}','error',false,false,'3000',true);
            }
        }
    });
}
function dumpsql(db){
    $("#modal-pleasewait").modal('toggle');
    $.ajax({
        type: "POST",
        url: "./{{users}}/index.php?module=mysql_manager&acc=dumpsql",
        data: "db=" + db,
        complete: function (datos) {
            if(datos.responseText==''){
                $("#modal-pleasewait").modal('hide');
                noti_bubble('{{langmod.DBRDUMPOK}}','{{langmod.EMSUCCT}}','success',false,false,'3000',true);
            }else{
                $("#modal-pleasewait").modal('hide');
                noti_bubble('{{langmod.DBERROR2}}','{{langmod.DBERROR}}','error',false,false,'3000',true);
            }
        }
    });
}
function searchusersmysql(){
    $.ajaxSetup({ headers: { 'csrftoken' : '{{ tokenajax }}' } });
    $.ajax({
        type: "POST",
        url: "./{{users}}/index.php?module=mysql_manager&acc=searchusersmysql",
        data: "db="+$("#dbasehiden").val(),
        complete: function(datos){
            //alert(datos.responseText);
            $("#useusermyqlsel").html(datos.responseText);
            return false;
        }
    });
}
function btnaddbdandusernew(){
    var sw=0;
    if(($("#bdname").val()=='')||($("#pass1new").val()=='')||($("#pass2new").val()=='')){ var msj='{{langmod.DBERROR4}}'; sw=1;}
    if($("#pass1new").val()!=$("#pass2new").val()){ var msj='{{langmod.DBERROR3}}'; sw=1; }
    if(sw==1){
        noti_bubble(msj,'','error',false,false,'3000',true);
        return false;
    }else{
        var pass=Base64.encode($("#pass1new").val());
        var collation='';
        var charset=$("#charset").val();
        btnporcess('off','btn-addbdandusernew','{{ langmod.DBLABEL4 }}');
        $.ajaxSetup({ headers: { 'csrftoken' : '{{ tokenajax }}' } });
        $.ajax({
            type: "POST",
            url: "./{{users}}/index.php?module=mysql_manager&acc=newmysqlanduser",
            data: "datebase="+$("#bdname").val()+"&pass="+pass+"&collation="+collation+"&charset="+charset,
            complete: function(datos){
                if(datos.responseText=='OK'){
                    $("#bdname").val('');
                    $("#pass1new").val('');
                    $("#pass2new").val('');
                    refrestable();
                    refrespanelnew('mysql_manager');
                    $("#modal-createbdanduser").modal('hide');
                    noti_bubble('{{langmod.DBSUCCT}}','{{langmod.DMMYSQLOK}}','success',false,false);
                    btnporcess('on','btn-addbdandusernew','{{ langmod.DBCREATEMODAL }}');
                }else if(datos.responseText=='1'){
                    noti_bubble('','{{langmod.DBERROR1}}','error',false,false);
                    btnporcess('on','btn-addbdandusernew','{{ langmod.DBCREATEMODAL }}');
                }else if(datos.responseText==2){
                    noti_bubble('','{{langmod.DBERROR2}}','error',false,false);
                    btnporcess('on','btn-addbdandusernew','{{ langmod.DBCREATEMODAL }}');
                }
                return false;
            }
        });
        return false;
    }
}
function processlistmysql(sw){
    $.ajaxSetup({ headers: { 'csrftoken' : '{{ tokenajax }}' } });
    $.ajax({
        type: "POST",
        url: "./{{users}}/index.php?module=mysql_manager&acc=procsmysql",
        complete: function(datos){
            //alert(datos.responseText);
            $("#contentmodalplmysql").html(datos.responseText);
            if(sw==1){
                timer = setTimeout('processlistmysql(1)', 4000);
            }else{
                return false;
            }
        }
    });
}
function changepassmysqluser(st,db,user,host){
    $('#mysqluserpass').val(user+'||'+host);
    $("#ttcgpss").html(user+' '+host);
    $("#modal-changepassusermysql").modal('toggle');
    return false;
}
function newusermysql(bd){
    $("#alerdelete").hide('blind');
    $("#titlebd").html(bd);
    $("#dbasehiden").val(bd);
    var randpass=generatePasswordRand(10,'alf');
    $("#newpass1").val(randpass);
    $("#modal-newusermysql").modal('toggle');
    return false;
}
function modalbtnonlymysql (){
    $("#modal-onlymysql").modal('toggle');
}
function changepassmysqluser(st,db,user,host){
    $('#mysqluserpass').val(user+'||'+host);
    $("#ttcgpss").html(user+' '+host);
    $("#modal-changepassusermysql").modal('toggle');
    return false;
}
function changeprivmysqluser(db,user,host,priv){
    var JsPriv=Base64.decode(priv);
    var obj = jQuery.parseJSON( JsPriv );
    $("#titlebd_edi").html(db+' / '+user+' [ '+host+' ]');
    $("#db_h").val(db);
    $("#user_h").val(user);
    $("#host_h").val(host);
    if(obj.Select_priv=='Y'){ $("#select_edi").attr('checked',true); }else{ $("#select_edi").attr('checked',false); }
    if(obj.Insert_priv=='Y'){ $("#insert_edi").attr('checked',true); }else{ $("#insert_edi").attr('checked',false); }
    if(obj.Update_priv=='Y'){ $("#update_edi").attr('checked',true); }else{ $("#update_edi").attr('checked',false); }
    if(obj.Delete_priv=='Y'){ $("#delete_edi").attr('checked',true); }else{ $("#delete_edi").attr('checked',false); }

    if(obj.Create_priv=='Y'){ $("#create_edi").attr('checked',true); }else{ $("#create_edi").attr('checked',false); }
    if(obj.Drop_priv=='Y'){ $("#drop_edi").attr('checked',true); }else{ $("#drop_edi").attr('checked',false); }
    if(obj.Create_routine_priv=='Y'){ $("#createroutine_edi").attr('checked',true); }else{ $("#createroutine_edi").attr('checked',false); }
    if(obj.Create_view_priv=='Y'){ $("#createview_edi").attr('checked',true); }else{ $("#createview_edi").attr('checked',false); }

    if(obj.Alter_routine_priv=='Y'){ $("#alter_edi").attr('checked',true); }else{ $("#alter_edi").attr('checked',false); }
    if(obj.Trigger_priv=='Y'){ $("#trigger_edi").attr('checked',true); }else{ $("#trigger_edi").attr('checked',false); }
    if(obj.Alter_routine_priv=='Y'){ $("#alterroutine_edi").attr('checked',true); }else{ $("#alterroutine_edi").attr('checked',false); }
    if(obj.Event_priv=='Y'){ $("#event_edi").attr('checked',true); }else{ $("#event_edi").attr('checked',false); }

    if(obj.Index_priv=='Y'){ $("#index_edi").attr('checked',true); }else{ $("#index_edi").attr('checked',false); }
    if(obj.Show_view_priv=='Y'){ $("#showview_edi").attr('checked',true); }else{ $("#showview_edi").attr('checked',false); }
    if(obj.Execute_priv=='Y'){ $("#execute_edi").attr('checked',true); }else{ $("#execute_edi").attr('checked',false); }
    if(obj.Create_tmp_table_priv=='Y'){ $("#creattemptable_edi").attr('checked',true); }else{ $("#creattemptable_edi").attr('checked',false); }

    if(obj.maxqueryhour==''){ $("#maxqueryhour_edi").val(0); }else{ $("#maxqueryhour_edi").val(obj.maxqueryhour); }
    if(obj.maxupdhour==''){ $("#maxupdhour_edi").val(0); }else{ $("#maxupdhour_edi").val(obj.maxupdhour); }
    if(obj.maxconnechour==''){ $("#maxconnechour_edi").val(0); }else{ $("#maxconnechour_edi").val(obj.maxconnechour); }
    if(obj.maxuserconnec==''){ $("#maxuserconnec_edi").val(0); }else{ $("#maxuserconnec_edi").val(obj.maxuserconnec); }

    $("#modal-changeprivmysql").modal('toggle');
    return false;
}


$("#modal-btn-createbdanduser").click(function(){
    var randpass=generatePasswordRand(10,'alf');
    $("#pass1new").val(randpass);
    $("#modal-createbdanduser").modal('toggle');
    return false;
});
$("#alldata").click(function(){
    if ($('#alldata').is(':checked')) {
        $('#select').attr('checked',true);
        $('#insert').attr('checked',true);
        $('#update').attr('checked',true);
        $('#delete').attr('checked',true);
        $('#file').attr('checked',true);
    }else{
        $('#select').attr('checked',false);
        $('#insert').attr('checked',false);
        $('#update').attr('checked',false);
        $('#delete').attr('checked',false);
        $('#file').attr('checked',false);
    }
});
$("#alldata_edi").click(function(){
    if ($('#alldata_edi').is(':checked')) {
        $('#select_edi').attr('checked',true);
        $('#insert_edi').attr('checked',true);
        $('#update_edi').attr('checked',true);
        $('#delete_edi').attr('checked',true);
        $('#file_edi').attr('checked',true);
    }else{
        $('#select_edi').attr('checked',false);
        $('#insert_edi').attr('checked',false);
        $('#update_edi').attr('checked',false);
        $('#delete_edi').attr('checked',false);
        $('#file_edi').attr('checked',false);
    }
});
$("#allstructure").click(function(){
    if ($('#allstructure').is(':checked')) {
        $('#create').attr('checked',true);
        $('#alter').attr('checked',true);
        $('#index').attr('checked',true);
        $('#drop').attr('checked',true);
        $('#creattemptable').attr('checked',true);
        $('#showview').attr('checked',true);
        $('#createroutine').attr('checked',true);
        $('#alterroutine').attr('checked',true);
        $('#execute').attr('checked',true);
        $('#createview').attr('checked',true);
        $('#event').attr('checked',true);
        $('#trigger').attr('checked',true);
    }else{
        $('#create').attr('checked',false);
        $('#alter').attr('checked',false);
        $('#index').attr('checked',false);
        $('#drop').attr('checked',false);
        $('#creattemptable').attr('checked',false);
        $('#showview').attr('checked',false);
        $('#createroutine').attr('checked',false);
        $('#alterroutine').attr('checked',false);
        $('#execute').attr('checked',false);
        $('#createview').attr('checked',false);
        $('#event').attr('checked',false);
        $('#trigger').attr('checked',false);
    }
});

$("#allstructure_edi").click(function(){
    if ($('#allstructure_edi').is(':checked')) {
        $('#create_edi').attr('checked',true);
        $('#alter_edi').attr('checked',true);
        $('#index_edi').attr('checked',true);
        $('#drop_edi').attr('checked',true);
        $('#creattemptable_edi').attr('checked',true);
        $('#showview_edi').attr('checked',true);
        $('#createroutine_edi').attr('checked',true);
        $('#alterroutine_edi').attr('checked',true);
        $('#execute_edi').attr('checked',true);
        $('#createview_edi').attr('checked',true);
        $('#event_edi').attr('checked',true);
        $('#trigger_edi').attr('checked',true);
    }else{
        $('#create_edi').attr('checked',false);
        $('#alter_edi').attr('checked',false);
        $('#index_edi').attr('checked',false);
        $('#drop_edi').attr('checked',false);
        $('#creattemptable_edi').attr('checked',false);
        $('#showview_edi').attr('checked',false);
        $('#createroutine_edi').attr('checked',false);
        $('#alterroutine_edi').attr('checked',false);
        $('#execute_edi').attr('checked',false);
        $('#createview_edi').attr('checked',false);
        $('#event_edi').attr('checked',false);
        $('#trigger_edi').attr('checked',false);
    }
});

$("#btn-newnewuser").click(function (){
    var sw=0;
    if(($("#newuser").val()=='')||($("#newpass1").val()=='')||($("#newpass2").val()=='')){ var msj='{{langmod.DBERROR4}}'; sw=1;}
    if($("#newpass1").val()!=$("#newpass2").val()){ var msj='{{langmod.DBERROR3}}'; sw=1;}
    if($("#maxqueryhour").val()==''){sw=1; $("#maxqueryhour").css("border", "1px solid #ed5565");}
    if($("#maxupdhour").val()==''){sw=1;$("#maxupdhour").css("border", "1px solid #ed5565");}
    if($("#maxconnechour").val()==''){sw=1; $("#maxconnechour").css("border", "1px solid #ed5565");}
    if($("#maxuserconnec").val()==''){sw=1; $("#maxuserconnec").css("border", "1px solid #ed5565");}

    if(sw==1) {
        noti_bubble('{{ langmod.DBERROR4 }}', '{{ langmod.DBERROR }}', 'error', false, false, '4000', true);
        return false;
    }else{
        var pass=Base64.encode($("#newpass1").val());
        if($('#select').is(':checked')){var Vselect='Y';}else{var Vselect='';}
        if($('#insert').is(':checked')){var Vinsert='Y';}else{var Vinsert='';}
        if($('#update').is(':checked')){var Vupdate='Y';}else{var Vupdate='';}
        if($('#delete').is(':checked')){var Vdelete='Y';}else{var Vdelete='';}
        if($('#file').is(':checked')){var Vfile='Y';}else{var Vfile='';}
        if($('#create').is(':checked')){var Vcreate='Y';}else{var Vcreate='';}
        if($('#alter').is(':checked')){var Valter='Y';}else{var Valter='';}
        if($('#index').is(':checked')){var Vindex='Y';}else{var Vindex='';}
        if($('#drop').is(':checked')){var Vdrop='Y';}else{var Vdrop='';}
        if($('#creattemptable').is(':checked')){var Vcreattemptable='Y';}else{var Vcreattemptable='';}
        if($('#showview').is(':checked')){var Vshowview='Y';}else{var Vshowview='';}
        if($('#createroutine').is(':checked')){var Vcreateroutine='Y';}else{var Vcreateroutine='';}
        if($('#alterroutine').is(':checked')){var Valterroutine='Y';}else{var Valterroutine='';}
        if($('#execute').is(':checked')){var Vexecute='Y';}else{var Vexecute='';}
        if($('#createview').is(':checked')){var Vcreateview='Y';}else{var Vcreateview='';}
        if($('#event').is(':checked')){var Vevent='Y';}else{var Vevent='';}
        if($('#trigger').is(':checked')){var Vtrigger='Y';}else{var Vtrigger='';}
        if($("#newhost").val()=='IP'){ var namehost=$("#ippers").val(); }else{ var namehost=$("#newhost").val(); }
        btnporcess('off','btn-newnewuser','{{ langmod.DBLABEL4 }}');
        $.ajaxSetup({ headers: { 'csrftoken' : '{{ tokenajax }}' } });
        $.ajax({
            type: "POST",
            url: "./{{users}}/index.php?module=mysql_manager&acc=newnewuser",
            data: "userdb="+$("#newuser").val()+"&pass="+pass+"&host="+namehost+"&dbase="+$("#dbasehiden").val()+"&select="+Vselect+"&insert="+Vinsert+"&update="+Vupdate+"&delete="+Vdelete+"&file="+Vfile+"&create="+Vcreate+"&alter="+Valter+"&index="+Vindex+"&drop="+Vdrop+"&creattemptable="+Vcreattemptable+"&showview="+Vshowview+"&createroutine="+Vcreateroutine+"&alterroutine="+Valterroutine+"&execute="+Vexecute+"&event="+Vevent+"&createview="+Vcreateview+"&trigger="+Vtrigger+"&maxqueryhour="+$("#maxqueryhour").val()+"&maxupdhour="+$("#maxupdhour").val()+"&maxconnechour="+$("#maxconnechour").val()+"&maxuserconnec="+$("#maxuserconnec").val(),
            complete: function(datos){
                if(datos.responseText=='OK'){
                    $("#newuser").val('');
                    $("#newpass1").val('');
                    $("#newpass1").val('');
                    $("#modal-newusermysql").modal('hide');
                    noti_bubble('{{langmod.DBSUCCT}}','{{langmod.DMUSSQLOK}}','success',false,false,'3000',true);
                    refrestable();
                    btnporcess('on','btn-newnewuser','{{ langmod.DBCREATEUSER }}');
                }else if(datos.responseText=='1'){
                    noti_bubble('{{langmod.DBERROR1}}','{{langmod.DBERROR}}','error',false,false,'3000',true);
                    btnporcess('on','btn-newnewuser','{{ langmod.DBCREATEUSER }}');
                }else if(datos.responseText==2){
                    noti_bubble('{{langmod.DBERROR2}}','{{langmod.DBERROR}}','error',false,false,'3000',true);
                    btnporcess('on','btn-newnewuser','{{ langmod.DBCREATEUSER }}');
                }else if(datos.responseText==4){
                    noti_bubble('{{langmod.DBERROR4}}','{{langmod.DBERROR}}','error',false,false,'3000',true);
                    btnporcess('on','btn-newnewuser','{{ langmod.DBCREATEUSER }}');
                }
                return false;
            }
        });
        return false;
    }
});
$("#newhost").click(function (){
    if($("#newhost").val()=='IP'){
        $("#ippers").removeClass('hidden');
    }else{
        $("#ippers").addClass('hidden');
        $("#ippers").val('');
    }
});
$("#btn-usemysqluser").click(function (){
    btnporcess('off','btn-usemysqluser','{{ langmod.DBLABEL4 }}');
    $.ajaxSetup({ headers: { 'csrftoken' : '{{ tokenajax }}' } });
    $.ajax({
        type: "POST",
        url: "./{{users}}/index.php?module=mysql_manager&acc=usemysqluser",
        data: "userdb="+$("#useusermyqlsel").val()+"&host="+$("#newhostuser").val()+"&dbase="+$("#dbasehiden").val(),
        complete: function(datos){
            if(datos.responseText=='OK'){
                $("#newuser").val('');
                $("#newpass1").val('');
                $("#newpass1").val('');
                $("#modal-newusermysql").modal('toggle');
                noti_bubble('{{langmod.DMUSSQLOK}}','{{langmod.DBSUCCT}}','success',false,false,'3000',true);
                refrestable();
                btnporcess('on','btn-usemysqluser','{{ langmod.DBBTNASIGN }}');
            }else if(datos.responseText=='1'){
                noti_bubble('{{langmod.DBERROR}}','{{langmod.DBERROR1}}','error',false,false,'3000',true);
                btnporcess('on','btn-usemysqluser','{{ langmod.DBBTNASIGN }}');
            }else if(datos.responseText==2){
                noti_bubble('{{langmod.DBERROR}}','{{langmod.DBERROR2}}','error',false,false,'3000',true);
                btnporcess('on','btn-usemysqluser','{{ langmod.DBBTNASIGN }}');
            }
            return false;
        }
    });
    return false;
});
$("#btn-newdbonly").click(function (){
    if($("#newdb").val()!=''){
        $.ajaxSetup({ headers: { 'csrftoken' : '{{ tokenajax }}' } });
        btnporcess('off','btn-newdbonly','{{ langmod.DBLABEL4 }}');
        $.ajax({
            type: "POST",
            url: "./{{users}}/index.php?module=mysql_manager&acc=newmysqlonly",
            //data: "datebase="+$("#newdb").val()+"&collation="+$("#collationonly").val()+"&charset="+$("#charsetonly").val(),
            data: "datebase="+$("#newdb").val()+"&charset="+$("#charsetonly").val(),
            complete: function(datos){
                if(datos.responseText=='OK'){
                    $("#modal-onlymysql").modal('hide');
                    refrestable();
                    refrespanelnew('mysql_manager');
                    noti_bubble('{{langmod.DBSUCCT}}','{{langmod.DMMYSQLOK}}','success',false,false,'3000',true);
                    btnporcess('on','btn-newdbonly','{{ langmod.DBCREATEMODAL }}');
                }else if(datos.responseText=='1'){
                    noti_bubble('{{langmod.DBERROR1}}','{{langmod.DMMYSQLOK}}','error',false,false,'3000',true);
                    btnporcess('on','btn-newdbonly','{{ langmod.DBCREATEMODAL }}');
                }else if(datos.responseText=='2'){
                    noti_bubble('{{langmod.DBERROR2}}','{{langmod.DMMYSQLOK}}','error',false,false,'3000',true);
                    btnporcess('on','btn-newdbonly','{{ langmod.DBCREATEMODAL }}');
                }
                return false;
            }
        });
    }else{
        noti_bubble('{{langmod.DBERRORBD}}','{{langmod.DMMYSQLOK}}','error',false,false,'3000',true);
        btnporcess('on','btn-newdbonly','{{ langmod.DBCREATEMODAL }}');
        return false;
    }
});
$("#btn-savepriv").click(function (){
    $("#btn-savepriv").attr('disabled',true);
    $("#btn-savepriv").addClass('disabled');
    var textntn=$("#btn-savepriv").text();
    $("#btn-savepriv").html('<i class="fa fa-spinner fa-spin"></i> '+textntn);

    if ($('#select_edi').is(':checked')) { var Vselect='Y'; }else{ var Vselect='';}
    if ($('#insert_edi').is(':checked')) { var Vinsert='Y'; }else{ var Vinsert='';}
    if ($('#update_edi').is(':checked')) { var Vupdate='Y'; }else{ var Vupdate='';}
    if ($('#delete_edi').is(':checked')) { var Vdelete='Y'; }else{ var Vdelete='';}

    if ($('#create_edi').is(':checked')) { var Vcreate='Y'; }else{ var Vcreate='';}
    if ($('#alter_edi').is(':checked')) { var Valter='Y'; }else{ var Valter='';}
    if ($('#index_edi').is(':checked')) { var Vindex='Y'; }else{ var Vindex='';}
    if ($('#drop_edi').is(':checked')) { var Vdrop='Y'; }else{ var Vdrop='';}

    if ($('#creattemptable_edi').is(':checked')) { var Vcreattemptable='Y'; }else{ var Vcreattemptable='';}
    if ($('#showview_edi').is(':checked')) { var Vshowview='Y'; }else{ var Vshowview='';}
    if ($('#createroutine_edi').is(':checked')) { var Vcreateroutine='Y'; }else{ var Vcreateroutine='';}
    if ($('#alterroutine_edi').is(':checked')) { var Valterroutine='Y'; }else{ var Valterroutine='';}

    if ($('#execute_edi').is(':checked')) { var Vexecute='Y'; }else{ var Vexecute='';}
    if ($('#event_edi').is(':checked')) { var Vevent='Y'; }else{ var Vevent='';}
    if ($('#createview_edi').is(':checked')) { var Vcreateview='Y'; }else{ var Vcreateview='';}
    if ($('#trigger_edi').is(':checked')) { var Vtrigger='Y'; }else{ var Vtrigger='';}

    $.ajaxSetup({ headers: { 'csrftoken' : '{{ tokenajax }}' } });
    $.ajax({
        type: "POST",
        url: "./{{users}}/index.php?module=mysql_manager&acc=savepriv",
        data: "userdb="+$("#user_h").val()+"&host="+$("#host_h").val()+"&dbase="+$("#db_h").val()+"&select="+Vselect+"&insert="+Vinsert+"&update="+Vupdate+"&delete="+Vdelete+"&create="+Vcreate+"&alter="+Valter+"&index="+Vindex+"&drop="+Vdrop+"&creattemptable="+Vcreattemptable+"&showview="+Vshowview+"&createroutine="+Vcreateroutine+"&alterroutine="+Valterroutine+"&execute="+Vexecute+"&event="+Vevent+"&createview="+Vcreateview+"&trigger="+Vtrigger+"&maxqueryhour="+$("#maxqueryhour_edi").val()+"&maxupdhour="+$("#maxupdhour_edi").val()+"&maxconnechour="+$("#maxconnechour_edi").val()+"&maxuserconnec="+$("#maxuserconnec_edi").val(),
        complete: function(datos){
            refrestable();
            $("#modal-changeprivmysql").modal('toggle');
            return false;
        }
    });
    return false;
});