function deletedp(array,usr,name,st){
    if(st==0){
        //var msj='<div class="alert alert-warning fade in"><i class="glyphicon glyphicon-warning-sign alert-icon "></i>{{langmod.MSJDELETE}} <strong>'+name+'  <a href="#" onclick="return deletedp('+array+',\''+usr+'\',\''+name+'\',1)">{{langmod.DPYES}}</a></strong> / <strong><a href="#">{{langmod.DPNOT}}</a></strong></div>';
        var msj='<button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span><span class="sr-only">{{ langmod.PDIRLABEL2 }}</span></button><h4 class="modal-title">{{langmod.PDIRLABEL1}}</h4>  <small class="font-bold"> {{langmod.MSJDELETE}} </small>';
        var btns=' <button type="button" class="btn btn-white" data-dismiss="modal">{{ langmod.CANCE }}</button>\n' +'<button type="button" class="btn btn-primary" onclick="resturn deletedp('+array+',\''+usr+'\',\''+name+'\',1)">{{ langmod.DPYES }}</button>';
        $("#deletemodal .modal-header").html(msj);
        $("#deletemodal .modal-body").html('<p class="text-center"><strong>'+name+'</strong></p>');
        $("#deletemodal .modal-footer").html(btns);
        $("#deletemodal").modal('toggle');
        return false;
    }
    if(st==1){
        $.ajaxSetup({ headers: { 'csrftoken' : '{{ tokenajax }}' } });
        $.ajax({
            type: "POST",
            url: "./{{users}}/index.php?module=protected_directory&acc=deletedp",
            data:"array="+array+"&usr="+usr,
            complete: function(datos){
                $("#deletemodal").modal('hide');
                $("#deletemodal .modal-header").html('');
                $("#deletemodal .modal-body").html('');
                $("#deletemodal .modal-footer").html('');
                updatetable();
                return false;
            }
        });
    }
}
function updatetable(){
    $.ajaxSetup({ headers: { 'csrftoken' : '{{ tokenajax }}' } });
    $.ajax({
        type: "POST",
        url: "./{{users}}/index.php?module=protected_directory&acc=updatetable",
        complete: function(datos){
            $("#tablebody").html(datos.responseText);
            return false;
        }
    });
    return false;
}
function newdirprotec(){
    $("#divbtn-add").hide();
    $("#divaddform").show('blind');
    return false;
}
function updatetabledp(){
    $.ajaxSetup({ headers: { 'csrftoken' : '{{ tokenajax }}' } });
    $.ajax({
        type: "POST",
        url: "./{{users}}/index.php?module=protected_directory&acc=updatetable",
        complete: function(datos){
            $("#tablebodydp").html(datos.responseText);
            return false;
        }
    });
    return false;
}
function searchdir(path){
    $.ajaxSetup({ headers: { 'csrftoken' : '{{ tokenajax }}' } });
    $.ajax({
        type: "POST",
        url: "./{{users}}/index.php?module=protected_directory&acc=searchdir",
        data:"path="+path,
        complete: function(datos){
            var newpath=path.replace("/../", "/");
            var trozo=datos.responseText.split('|@|');
            var str = trozo[0];
            $("#divconte").html(str);
            $("#pathview").html(trozo[1]);
            $("#hiddenvalue").val(trozo[1]);
            return false;
        }
    });
    return false;
}
function savedp(){
    $("#alert1").hide();
    var swerror=0;
    var radio=$('input:radio[name=radio1]:checked').val();
    if(radio==0){ var ruta=$("#path1").val(); }else{ var ruta=$("#hiddenvalue").val(); }
    if(ruta==''){ swerror=1;}

    if($("#namedp").val()==''){ swerror=1;}
    if($("#useradd").val()==''){ swerror=1;}
    if($("#pass1dp").val()==''){ swerror=1;}
    if($("#pass2dp").val()==''){ swerror=1;}
    if($("#pass1dp").val()!=$("#pass2dp").val()){swerror=2;}

    if(swerror==0){
        $.ajaxSetup({ headers: { 'csrftoken' : '{{ tokenajax }}' } });
        $.ajax({
            type: "POST",
            url: "./{{users}}/index.php?module=protected_directory&acc=createdp",
            data:"useradd="+$("#useradd").val()+"&dirp="+ruta+"&pass="+$("#pass1dp").val()+"&name="+$("#namedp").val(),
            complete: function(datos){
                updatetabledp();
                cancel();
                return false;
            }
        });
    }else if(swerror==1){
        noti_bubble('{{langmod.ALLREQ}}','{{langmod.PDIRLABEL3}}','error',true,false,'3000',true);
        return false;
    }else if(swerror==2){
        noti_bubble('{{langmod.PASSERROR}}','{{langmod.PDIRLABEL3}}','error',true,false,'3000',true);
        return false;
    }
    return false;
}